*#
.DS_Store
Thumbs.db
*.bak
local.properties
*.jar
*.log
bin/
gen/
execute/
dependences/*/bin
dependences/*/gen
.idea/
.metadata/
node_modules/
out/
Itutor-android.iml
obj/
.classpath
.project
.lein-failures
.settings
target/
.lein-repl-history
staff_index/
logs/*
nohup.out
/Gemfile.lock
/vendor
/bin
/.bundle
